
/* stylelint-disable */

.btn {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 20px 46px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    transition: 0.3s color;
    background: linear-gradient(180deg, #FF9502 0%, #FF0C1C 100%);
    border-radius: 60px;
    opacity: 0.9;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 15px;

    &:hover {
        opacity: 1;
        color: #fff;
        text-decoration: none;
        transform: scale(.98);
    }
}

.btn-center {
    text-align: center;
}

@media (max-width: 480px) {
    .btn {
        font-size: 16px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
