/* stylelint-disable */

@font-face {
	font-family: 'Ubuntu';
	src: url("../fonts/Ubuntu/Ubuntu-Light.woff") format("woff");
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'Ubuntu';
	src: url("../fonts/Ubuntu/Ubuntu-Regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Ubuntu';
	src: url("../fonts/Ubuntu/Ubuntu-Medium.woff") format("woff");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'Ubuntu';
	src: url("../fonts/Ubuntu/Ubuntu-Bold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
}
