
.section {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #fff;
    background-repeat: no-repeat;

    &_face {
        background-color: #D4F9E6;
        background-image: url("../media/section/face.jpg");
        background-position: center bottom;
        background-position: center calc(100% + 70px);

        &.section_pb {
            padding-bottom: 180px;
        }
    }

    &_sostav {
        overflow: hidden;
    }

    &_advantages {
        background-color: #46AC78;
        overflow: hidden;
    }

    &_order {
        background-image: url("../media/section/order.jpg");
        background-repeat: repeat;
        background-color: #d4f9e6;
        overflow: hidden;
    }

    &_pay {
        background-image: url("../media/section/order.jpg");
        background-repeat: repeat;
        background-color: #d4f9e6;
        overflow: hidden;
    }

    &_warning {
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #3C6550;
    }

    &_courier {
        padding-top: 120px;
        padding-bottom: 120px;
        background-color: #F0F0F0;
        background-image: url("../media/courier/human.jpg");
        background-repeat: no-repeat;
        background-position: calc(50% - 210px) top;
        background-size: contain;
    }

    &_contacts {
        padding-top: 120px;
        padding-bottom: 120px;
        background-image: url("../media/section/pay.jpg");
        background-repeat: repeat;
    }

    &_message {
        background-image: url("../media/section/pay.jpg");
        background-repeat: repeat;
    }

    &_blog {
        background-color: #F2F2E8;
    }

    &_article {
        background-color: #F2F2E8;
    }
}

.section__title {
    position: relative;
    display: inline-block;
    padding-right: 55px;
    font-size: 48px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 700;
    color: #3C6550;

    mark {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-bottom: 7px;
        margin-left: 40px;
        position: relative;

        &::before  {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #3C6550;
            content: '';
        }

        &::after {
            position: absolute;
            top: 7px;
            left: 100%;
            width: 6000px;
            height: 1px;
            background-color: #3C6550;
            content: '';
        }
    }
}

@media (max-width: 1024px) {
    .section {
        padding-top: 40px;
        padding-bottom: 40px;

        &_face {
            &.section_pb {
                padding-bottom: 110px;
            }
        }

        &_sostav {
            padding-top: 80px;
        }

        &_courier {
            padding-top: 120px;
            padding-bottom: 120px;
        }
    }

    .section__title {
        font-size: 44px;

        mark {
            margin-bottom: 5px;
        }
    }
}

@media (max-width: 768px) {
    .section {
        padding-top: 30px;
        padding-bottom: 30px;

        &_face {
            background-position: center calc(100% - 30px);

            &.section_pb {
                padding-bottom: 30px;
            }
        }

        &_courier {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }

    .section__title {
        font-size: 38px;

        mark {
            margin-bottom: 5px;
        }
    }
}

@media (max-width: 480px) {
    .section {
        &_face {
            background-position: center calc(100% + 30px);
        }

        &_courier {
            padding-bottom: 300px;
            background-position: center bottom;
            background-size: 180px;
        }
    }

    .section__title {
        font-size: 30px;

        mark {
            margin-bottom: 3px;
        }
    }
}
