<section class="section section_face">
    <div class="container">
        <div class="face">
            <h1 class="face__title">zenidol <mark>помогает в борьбе с грибком</mark></h1>
            <div class="face__price">Цена: 999</div>
            <div class="face__btn"><a class="btn" href="">Заказать сейчас</a></div>
            <div class="face__media"><img src="../media/product.png" alt=""></div>
            <div class="face__body">
                <div class="face__row">
                    <div class="face__item">Помогает снять зуд и шелушение кожи</div>
                    <div class="face__item">Способствует устранению симптомов грибка</div>
                </div>
                <div class="face__row">
                    <div class="face__item">Помогает устранить неприятный запах</div>
                    <div class="face__item">Помогает снять раздражение кожи</div>
                </div>
            </div>
        </div>
    </div>
</section>