<section class="section section_face">
    <div class="container">
        <div class="face">
            <h1 class="face__title">Мягкое очищение <mark>желудочно-кишечного тракта</mark></h1>
            <div class="face__body">
                <div class="face__media"><img src="../media/product.png" alt=""></div>
                <div class="face__info">
                    <div class="face__list">
                        <div class="face__item"><p><mark>Способствует выведению </mark> шлаков и токсинов</p></div>
                        <div class="face__item"><p><mark>Помогает уменьшить </mark> развитие вредных бактерий</p></div>
                        <div class="face__item"><p><mark>Поддерживает </mark> иммунитет</p></div>
                    </div>
                    <a class="face__btn">Заказать сейчас</a>
                    <div class="face__price">Цена <mark>$34.900</mark></div>
                </div>
            </div>
        </div>
    </div>
</section>