
.advantages__head {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #D4F9E6;
}

.advantages__title {
    span {
        display: block;
    }
}

.advantages__body {
    position: relative;
    padding-top: 80px;
    display: flex;
    align-items: center;
}

.advantages__info {
    flex: 0 0 auto;
    width: 50%;
}

.advantages__media {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 500px;
}

.advantages__item {
    padding-left: 80px;
    max-width: 438px;
    min-height: 53px;
    background-image: url("../media/advantages/check.png");
    background-repeat: no-repeat;
    background-position: left top;

    & + & {
        margin-top: 15px;
    }

    p {
        font-size: 18px;
        color: #fff;
        font-weight: 300;
    }
}

@media (max-width: 1024px) {
    .advantages__item {
        padding-left: 75px;
    
        p {
            font-size: 21px;
        }
    }

    .advantages__media {
        max-width: 350px;
    }
}

@media (max-width: 768px) {
    .advantages__body {
        padding-top: 30px;
        flex-direction: column;
    }

    .advantages__info {
        width: 100%;
    }

    .advantages__media {
        position: static;
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .advantages__item {
        padding-left: 65px;

        p {
            font-size: 18px;
        }

        span {
            font-size: 40px;
        }
    }
}
