
.blog__title {
    margin-bottom: 30px;
}

.blog__body {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.blog__item {
    width: 33.333%;
    padding: 18px;
}

.blog__box {
    padding: 40px 20px;
    background-color: #fff;
}

.blog__name {
    margin-bottom: 15px;
    font-weight: 800;
    color: #1E5F4B;
    font-size: 24px;
}

.blog__description {
    margin-bottom: 20px;
    font-size: 18px;
    color: #4E4E4E;
}

.blog__media {
    margin-bottom: 45px;
    margin-right: auto;
    margin-left: auto;
    max-width: 264px;
}

.blog__btn {
    width: 100%;
}

@media (max-width: 1024px) {
    .blog__item {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .blog__item {
        width: 100%;
        padding: 0 0 30px 0;
        text-align: center;
    }

    .blog__body {
        margin: 0;
    }

    .blog__title {
        font-size: 48px;
    }

    .blog__btn {
        padding: 15px 30px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .blog__title {
        font-size: 36px;
    }
}
