
.pay__title {
    margin-bottom: 20px;
    color: #000;
}

.pay__subtitle {
    margin-bottom: 30px;
    font-size: 24px;
    text-transform: uppercase;
    color: #36411B;
}

.pay__body {
    display: flex;
    flex-direction: column;
}

.pay__item {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 668px;

    &:nth-child(2) {
        margin-left: auto;

        .pay__description {
            margin-left: 0;
        }
    }
}

.pay__media {
    flex: 0 0 auto;
}

.pay__description {
    margin-left: 30px;

    span {
        display: block;
        color: #A7DFCF;
        font-size: 96px;
        font-weight: 700;
    }

    p {
        text-transform: uppercase;
        font-size: 24px;
        color: #36411B;
    }
}

@media (max-width: 1024px) {
    .pay__title {
        font-size: 24px;
        line-height: 1.2;

        mark {
            font-size: 40px;
        }
    }

    .pay__item {
        max-width: 495px;
    }

    .pay__description {
        span {
            font-size: 54px;
        }

        p {
            font-size: 18px;
        }
    }

    .pay__media {
        width: 215px;
    }
}

@media (max-width: 768px) {
    .pay__body {
        align-items: center;
    }

    .pay__item {
        &:nth-child(2n) {
            margin-left: 0;
        }

        & + & {
            margin-top: 30px;
        }
    }

    .pay__title {
        mark {
            font-size: 34px;
        }
    }
}

@media (max-width: 480px) {
    .pay__media {
        width: 140px;
    }

    .pay__description {
        p {
            font-size: 16px;
        }
    }
}