<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body>
    <div class="page">
        <%- include('block/header') %>
        <section class="section section_blog">
            <div class="container">
                <div class="blog">
                    <h1 class="blog__title">Блог</h1>
                    <div class="blog__body">
                        <div class="blog__item">
                            <div class="blog__box">
                                <div class="blog__name">НАЗВАНИЕ СТАТЬИ</div>
                                <div class="blog__description">Повседневная практика показывает, что рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий.</div>
                                <div class="blog__media">
                                    <img src="../media/blog/preview-1.jpg" alt="">
                                </div>
                                <a href="article.html" class="blog__btn">читать</a>
                            </div>
                        </div>
                        <div class="blog__item">
                            <div class="blog__box">
                                <div class="blog__name">НАЗВАНИЕ СТАТЬИ</div>
                                <div class="blog__description">Повседневная практика показывает, что рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий.</div>
                                <div class="blog__media">
                                    <img src="../media/blog/preview-1.jpg" alt="">
                                </div>
                                <a href="article.html" class="blog__btn">читать</a>
                            </div>
                        </div>
                        <div class="blog__item">
                            <div class="blog__box">
                                <div class="blog__name">НАЗВАНИЕ СТАТЬИ</div>
                                <div class="blog__description">Повседневная практика показывает, что рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий.</div>
                                <div class="blog__media">
                                    <img src="../media/blog/preview-1.jpg" alt="">
                                </div>
                                <a href="article.html" class="blog__btn">читать</a>
                            </div>
                        </div>
                        <div class="blog__item">
                            <div class="blog__box">
                                <div class="blog__name">НАЗВАНИЕ СТАТЬИ</div>
                                <div class="blog__description">Повседневная практика показывает, что рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий.</div>
                                <div class="blog__media">
                                    <img src="../media/blog/preview-1.jpg" alt="">
                                </div>
                                <a href="article.html" class="blog__btn">читать</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('block/footer') %>
    </div>
    <%- include('block/script') %>
</body>

</html>