<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body>
    <div class="page">
        <%- include('block/header') %>
        <section class="section section_pay">
            <div class="container">
                <div class="pay">
                    <h1 class="pay__title"><mark>доставка и оплата</mark> Как заказать WORMIN в нашем онлайн-магазине</h1>
                    <div class="pay__body">
                        <div class="pay__item">
                            <div class="pay__media"><img src="../media/pay/img-1.png" alt=""></div>
                            <div class="pay__description">
                                <span>1.</span>
                                <p>Заполните форму заказа на сайте</p>
                            </div>
                        </div>
                        <div class="pay__item">
                            <div class="pay__media"><img src="../media/pay/img-2.png" alt=""></div>
                            <div class="pay__description">
                                <span>2.</span>
                                <p>Дождитесь звонка оператора для уточнения деталей</p>
                            </div>
                        </div>
                        <div class="pay__item">
                            <div class="pay__media"><img src="../media/pay/img-3.png" alt=""></div>
                            <div class="pay__description">
                                <span>3.</span>
                                <p>Оплатите посылку при получении</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section_warning">
            <div class="container">
                <div class="warning">
                    <div class="warning__media"><img src="../media/warning/!.png" alt=""></div>
                    <div class="warning__info">
                        <mark>Внимание!</mark> Оригинальный Wormin продается только на официальном сайте и в онлайн-аптеках, входящих в сеть дистрибьюторов.
                    </div>
                </div>
            </div>
        </section>
        <section class="section section_table">
            <div class="container">
                <div class="table">
                    <h2 class="table__title">доставка и оплата</h2>
                    <div class="table__body">
                        <div class="table__row">
                            <div class="table__col"><p>Способ оплаты</p></div>
                            <div class="table__col"><p>Срок доставки по стране</p></div>
                            <div class="table__col"><p>Дни и срок доставки</p></div>
                        </div>
                        <div class="table__row">
                            <div class="table__col"><p>Принимаем только наличные</p></div>
                            <div class="table__col"><p>2-7 дней</p></div>
                            <div class="table__col"><p>С понедельника по пятницу</p></div>
                        </div>
                    </div>
                    <div class="table__btn">Заказать сейчас</div>
                </div>
            </div>
        </section>
        <section class="section section_courier">
            <div class="container">
                <div class="courier">
                    <div class="courier__title">Оплата заказа</div>
                    <div class="courier__description">Оплатить заказ можно наличными курьеру при получении заказа</div>
                </div>
            </div>
        </section>
        <%- include('block/footer') %>
    </div>
    <%- include('block/script') %>
</body>

</html>