<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body>
    <div class="page">
        <%- include('block/header') %>
        <section class="section section_message">
            <div class="container">
                <div class="message">
                    <h2 class="message__title">отзывы</h2>
                    <div class="message__box owl-carousel js-message__box">
                        <div class="message__item">
                            <div class="message__face"><img src="../media/message/img-1.jpg" alt=""></div>
                            <div class="message__name">Наталья, <span>47 лет</span></div>
                            <div class="message__media"><img src="../media/message/kov.png" alt=""></div>
                            <div class="message__description">“Насчет доставки – все пришло точно в указанный срок, все упаковки препарата на месте. Понравилось, что оплачивать посылку нужно было не онлайн, а по факту доставки. Уже начала лечение, пью Wormin третий день”.</div>
                            <div class="message__icon">
                                <img src="../media/message/icon-1.png" alt="">
                                <img src="../media/message/icon-2.png" alt="">
                            </div>
                        </div>
                        <div class="message__item">
                            <div class="message__face"><img src="../media/message/img-2.jpg" alt=""></div>
                            <div class="message__name">Светлана, <span>55 лет</span></div>
                            <div class="message__media"><img src="../media/message/kov.png" alt=""></div>
                            <div class="message__description">“Во время карантина уже привыкла все покупать через интернет, оказалось, очень удобно. Вот и в этот раз, когда решила почистить организм и остановила свой выбор на Wormin, заказала доставку онлайн. Прислали заказ оперативно, спасибо!”</div>
                            <div class="message__icon">
                                <img src="../media/message/icon-1.png" alt="">
                                <img src="../media/message/icon-2.png" alt="">
                            </div>
                        </div>
                        <div class="message__item">
                            <div class="message__face"><img src="../media/message/img-3.jpg" alt=""></div>
                            <div class="message__name">Игорь, <span>62 года</span></div>
                            <div class="message__media"><img src="../media/message/kov.png" alt=""></div>
                            <div class="message__description">“Спасибо специалисту-оператору, который проконсультировал и помог подобрать нужное количество упаковок препарата. Посылка дошла очень быстро, все в идеальном состоянии”.</div>
                            <div class="message__icon">
                                <img src="../media/message/icon-1.png" alt="">
                                <img src="../media/message/icon-2.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="message__btn">
                        <div class="table__btn">Заказать сейчас</div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('block/footer') %>
    </div>
    <%- include('block/script') %>
</body>

</html>