<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body>
    <div class="page">
        <%- include('block/header') %>
        <section class="section section_message">
            <div class="container">
                <div class="message">
                    <h2 class="message__title section__title">отзывы <mark></mark></h2>
                    <div class="message__box owl-carousel js-message__box">
                        <div class="message__item">
                            <div class="message__face"><img src="../media/message/img-1.jpg" alt=""></div>
                            <div class="message__name">Paulina, <span>41 год</span></div>
                            <div class="message__media"><img src="../media/message/kov.png" alt=""></div>
                            <div class="message__description">Не первый раз заказываю средство Zenidol на официальном сайте. Для меня это лучший крем для профилактики грибковых инфекций. Радует приемлемая цена и быстрая доставка прямо до дома без предоплаты.</div>
                            <!-- <div class="message__icon">
                                <img src="../media/message/icon-1.png" alt="">
                                <img src="../media/message/icon-2.png" alt="">
                            </div> -->
                        </div>
                        <div class="message__item">
                            <div class="message__face"><img src="../media/message/img-2.jpg" alt=""></div>
                            <div class="message__name">Carlos, <span>39 лет</span></div>
                            <div class="message__media"><img src="../media/message/kov.png" alt=""></div>
                            <div class="message__description">Очень давно борюсь с грибком, перепробовал много средств – ничего не помогает. Знакомый посоветовал Zenidol, говорит, что ему помогло.  Решил и я попробовать. Оставил заявку, сразу же перезвонили и проконсультировали. Порекомендовали курс и оформили доставку. Посылку доставили в сроки, пришло все целое. Буду пробовать.</div>
                            <!-- <div class="message__icon">
                                <img src="../media/message/icon-1.png" alt="">
                                <img src="../media/message/icon-2.png" alt="">
                            </div> -->
                        </div>
                        <div class="message__item">
                            <div class="message__face"><img src="../media/message/img-3.jpg" alt=""></div>
                            <div class="message__name">Blanca <span></span></div>
                            <div class="message__media"><img src="../media/message/kov.png" alt=""></div>
                            <div class="message__description">Первый раз заказываю в интернете. Не ожидала, что это даже проще, чем сходить в магазин! Заполнила форму, сразу же позвонил консультант, ответил на все мои вопросы, посоветовал количество упаковок и оформил доставку. Курьер приехал на второй день, передал упаковки Zenidol и только потом их оплатила.  </div>
                            <!-- <div class="message__icon">
                                <img src="../media/message/icon-1.png" alt="">
                                <img src="../media/message/icon-2.png" alt="">
                            </div> -->
                        </div>
                    </div>
                    <div class="message__btn">
                        <a class="table__btn btn">Заказать сейчас</a>
                    </div>
                </div>
            </div>
        </section>
        <%- include('block/footer') %>
    </div>
    <%- include('block/script') %>
</body>

</html>